@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  background: #1f2937;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

main {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 75vw;
  font-size: 40pt;
}

h1, h2 {
  font-weight: 900;
}

img {
  bottom: 10%;
  width: 200px;
}

input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 0;
  padding: 0;
  margin: 0;
  z-index: 10;
  cursor: none;
}

.bottom {
  position: fixed;
  text-align: center;
  position: fixed;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -110%);
  font-weight: 250;
  font-size: 13pt;
}
